{% extends 'base.html' %}

{% block title %}Bosh sahifa - Ommabop maqolalar{% endblock %}

{% block content %}
<h1 class="mb-4">Ommabop maqolalar</h1>
<div class="row">
    {% for post in posts %}
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <h5 class="card-header">{{ post.title }}</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    <i class="fa-solid fa-user"></i>
                    {{ post.get_author }}
                </h6>
                <p class="card-text text-muted">
                    <i class="fa-solid fa-calendar-days"></i>
                    {{ post.created_at|date:"F j, Y" }}
                </p>
                <p class="card-text">{{ post.get_markdown_content|safe|truncatewords:30 }}</p>
                <div class="mt-1">
                    <a class="badge bg-secondary text-decoration-none" href="{% url 'category' post.category.slug %}">
                        {{ post.category.name }}
                    </a>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <a href="{% url 'post' post.pk %}" class="btn btn-sm btn-primary">Batafsil</a>
                <div class="">
                    <span class="text-muted me-3">
                        <i class="fas fa-eye"></i> {{ post.views }}
                    </span>
                    <span class="text-muted">
                        <i class="fas fa-hand-paper"></i> {{ post.claps }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <p class="text-muted">Ommabop maqolalar mavjud emas.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}