{% extends 'base.html' %}

{% block title %}Posts{% endblock %}
{% load static %}
{% block content %}
    <h1>Posts</h1>
    {% if posts %}
        <div class="row">
            {% for post in posts %}
                <div class="col-md-6 col-lg-4">
                    <li class="post-list-item">
                        <a class="text-decoration-none" href="{% url 'post' post.pk %}">{{ post.title }}</a>
                    </li>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}