{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="row">
    <article class="col-md-8 offset-md-2">
        <header class="mb-4">
            <h1 class="display-4">{{ post.title }}</h1>
            <p class="text-muted">
                <strong>{{ post.author.username }}</strong> |
                Chop etilgan <strong>{{ post.created_at|date:"F j, Y" }}</strong> |
                Oxirgi yang. sana <strong>{{ post.updated_at|date:"F j, Y" }}</strong>
            </p>
            <div class="d-flex align-items-center gap-3">
                <span class="badge bg-secondary">{{ post.category.name }}</span>
                <span class="text-muted">
                    <i class="fas fa-eye"></i> {{ post.views }} ko'rishlar
                </span>
                <span class="text-muted">
                    <i class="fas fa-hand-paper"></i> {{ post.claps }} qarsaklar
                </span>
                <a id="clap" href="{% url 'clap' post.id %}" class="btn btn-sm btn-success">
                    Clap <i class="fas fa-hand-paper"></i>
                </a>
            </div>
        </header>

        <section id="post-content" class="mb-4">
            {{ post.get_markdown_content|safe }}
        </section>

        <footer>
            <div class="d-flex gap-3 mb-3">
                {% for tag in post.tags.all %}
                <span class="badge bg-primary">{{ tag.name }}</span>
                {% endfor %}
            </div>
            {% if post.sources %}
            <h3>Manbalar:</h3>
            <div class="fs-small">{{ post.get_markdown_sources|safe }}</div>
            {% endif %}
        </footer>
    </article>
</div>
{% endblock %}